VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_OIDC_AUTHORITY=http://127.0.0.1:8080/realms/workloop-dev
VITE_OIDC_CLIENT_ID=workloop-migration-web
VITE_OIDC_REDIRECT_URI=http://127.0.0.1:5174/auth/callback
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=http://127.0.0.1:5174/
VITE_OIDC_AUDIENCE=workloop-api
