provisioning_authorized    = false
configuration_ceiling_usd  = 70
owner_usage_cap_usd        = 15
reviewed_monthly_forecast_usd = null
maximum_runtime_hours         = 72
reviewed_run_forecast_usd     = null
release_promoted           = false
release_promotion_approved = false
release_manifest            = null
expiry_scopes               = []
approval                   = null
operator_access            = null
runtime_secrets            = null
