provisioning_authorized    = false
configuration_ceiling_usd  = 70
release_promoted           = false
release_promotion_approved = false
approval                   = null
operator_access            = null
runtime_secrets            = null
